body {
    background-color: #F8E6CE;
  }
.grid-container{
    display:grid;
    grid-template-areas:
    "header"
    "menu"
    "footer"
}
.item1 {grid-area:"header";} 
h1{
    color:#455B55;
    text-align: start;
    font-size: 75px;
   
}
.item2 {grid-area:"menu";}
h2{
    color: #455B55;
    text-align: center;
}

