
body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color:#ffffff;
    color:#77BC9E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 0px;
    font-size: medium;
}
.logo img {
    height: 110px; 
    width: 120px;
    margin-bottom: -4px;
    
}
.menu-list {
    list-style-type: none;
    margin: 0;
    margin: 0;
    display: flex;
    text-decoration: none;
}
.menu-list ul {
    list-style-type: none;
    padding: 15px;
    display: flex;
    font-size: 20px;
    align-items: center;
}
.menu-list ul li {
    margin-left: 20px;
}
.menu-list li:not(last-child) {
    margin-right: 20px;
}
.menu-list ul li a {
    color: #77BC9E;
    text-decoration: none;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #FDB3A4;
}
.search {
  position: relative;
  display: flex;
  align-items:end;
}

.search input[type="text"] {
  padding: 8px;
  border: none; 
  border-radius: 20px;
  background-color: #a5ffb8;
  font-size: 16px;
}

.search button {
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.image {
    height: 500px;
    background-image: url("/imagenes/i1.jpeg");
    background-position:center;
    background-size: cover; 
    position: relative;
}
.title {
    text-align: center;
    padding-top: 5px;
}
.title h1 {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 125px;
    color: #ff937e;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)
}
#Title {
    cursor: pointer;
    font-size: 200;
}
.highlight {
    animation: highlight 0,8s ease;
}
.title p {
    font-size: 20px;
    color:#0a7567;
    background-color: rgba(253, 179, 164, 0.5);
    padding: 5px;
    border-radius: 20px;
}
.grid-conteiner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color:#fafffd;
}
.grid-item {
    text-align: center;
}
.grid-item img {
    width: 270px;
    height: 270px;
    margin-top: 20px;
}
.grid-item button{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #fafffd;
    font-size: 20px;
    border: 1px solid #a5ffb8;
    vertical-align: middle;
}
.grid-item button a {
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    color:#77BC9E;
}
.grid-item button:hover {
    border: none;
}
.grid-item button:hover a {
    color: #FDB3A4;
    background-color: #fff2f0;
}
@media screen  and (max-width: 768px) {
    header{
        font-size: smaller;
        height: 75px;
        flex-direction: column;
        align-items: flex-start;
    }
    .logo img {
        height: 75px; 
        width: 80px;
        margin-bottom: -4px;
        
    }
    .menu-list {
        display: none;
    }
    .menu-icon {
        cursor: pointer;
        font-size: 24px;
        color: #77BC9E; 
    }    
    .search {
        position:relative;
        display: flex;
        align-items:center;
    }
    .search input[type="text"] {
        padding: 2px;
        border: none; 
        border-radius: 8px;
        background-color: #a5ffb8;
        font-size: 8px;
    }
    .search button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .image {
        height: 200px;
        width: auto;
        background-image: url("/imagenes/i1.jpeg");
        background-position:center;
        background-size: cover; 
        position: relative;
    }
    .title h1 {
        font-family: "Cedarville Cursive", cursive;
        font-weight: 400;
        font-size: 45px;
        padding-right: 5px;
        padding-left: 5px;
        border-top: 20px;
    }
    .title p {
        font-size: 10px;
        color:#0a7567;
        background-color: rgba(253, 179, 164, 0.5);
        padding: 2px;
        border-radius: 20px;
    
    }
    .grid-conteiner{
        grid-template-columns: repeat(1,1fr);
    }
    .grid-item img {
        width: 85%;
        height: 180px;
        margin-top: 10px;
        text-align: center;
    }
    .grid-item button{
        margin-top: 5px;
        padding: 5px 10px;
        font-size: 15px;
    }
    .grid-item button:hover {
        color: #FDB3A4;
    }
}
